@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");

/* targets every element */
* {
  margin: 0;
  font-family: "Quicksand";
}

body{
  height: 100vh;
}
.footer{
  background-color: #175977;
}

.App.container {
  /* text-align: center; */
  min-height: 100vh;
}

/* .navbar{
  background-color: #020202;
} */
Link.nav-link{
  color: #FFFEFE;
}
.img, .logo{
  width: 70px;
  height: 55px;
}

.image{
  width: 100px;
  height: 100px;
}

input.form-control, textarea.form-control,select{
  /* border: 0;
  border-radius: 5px; */
  color: #F3EEEE;
  border-bottom: 1px solid #ddd;
}

input.form-control:focus, textarea.form-control:focus,select:focus{
  box-shadow: none;
  outline: none;
  /* border-bottom: 2px solid #ddd; */
}

.sect{
  min-height: 200px;
  background-color: #8B1736;
}

.card{
  width: 18rem;
  box-shadow: 0px 2px 0px #ddd;
}

.btn{
  background-color: #8B1736;
}
.about{
  background-color: #fff;
}

/*.connect{
  background-color: #fff;
  margin-top: 0px;
  padding-top: 0px;
}*/

.connect{
  position: auto !important;
  width: 1442px !important;
  height: 636px !important;
  left: 0px !important;
  top: 70px !important;
  margin-left: -2% !important;
  border-radius: 0% !important;
}

.join{

  font-family: Roboto;
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 140%;
  text-align: center;

  color: #680721;

}
.minds{

  

  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 26px;
  line-height: 140%;
  text-align: center;

  color: #000000;

}

.media{
  align-items: center;
  text-align: center;
}

.magine{
  margin: 40px;
}

#linkin{
  width: 108px;
  height: 69px;
}

#tele{
  width: 72px;
  height: 72px;

}

#insta{
  width: 62px;
  height: 62px;
 
}

#face{
  width: 62px;
  height: 62px;
}

.separate{
  width: 2500px;
  height: 8px;
  left: -60px;
  top: 1021px;
  color: #FFFEFE;
  
  background: rgba(177, 102, 104, 0.1);

}
/* Link:active, Link:hover{
  font-weight: bolder;
  color: black;
} */
/* .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */
/* .container {
  width: 500px;
  height: 200px;
} */
