@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");

/* targets every element */
* {
  margin: 0;
  font-family: "Quicksand";
}

body{
  height: 100vh;
}
.footer{
  background-color: #175977;
}

.App.container {
  /* text-align: center; */
  min-height: 100vh;
}

.navbar{
  background-color: #020202;
}
Link.nav-link{
  color: #FFFEFE;
}
.img{
  width: 70px;
  height: 55px;
}

.image{
  width: 100px;
  height: 100px;
}

input.form-control, textarea.form-control{
  /* border: 0;
  border-radius: 5px; */
  color: #F3EEEE;
  border-bottom: 1px solid #ddd;
}

input.form-control:focus, textarea.form-control:focus{
  box-shadow: none;
  outline: none;
  /* border-bottom: 2px solid #ddd; */
}

.sect{
  min-height: 200px;
  background-color: #8B1736;
}

.card{
  width: 18rem;
  box-shadow: 0px 2px 0px #ddd;
}

.btn{
  background-color: #8B1736;
}
.about{
  background-color: #fff;
}
/* Link:active, Link:hover{
  font-weight: bolder;
  color: black;
} */
/* .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */
/* .container {
  width: 500px;
  height: 200px;
} */
